<meta charset="UTF-8">
<title>{{ site.name }}{% if page.title %} - {{ page.title }} {% endif%}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
<meta content="{{ site.name }}" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}
{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  <meta content="220628011695378" property="fb:app_id">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}
{% if page.yt-video-id %}
  <link rel=“preconnect” href=“//i.ytimg.com">
  <link rel=“preconnect” href=“//s.ytimg.com">
  <link rel=“preconnect” href="//www.youtube.com">
  <meta content="http://img.youtube.com/vi/{{ page.yt-video-id }}/hqdefault.jpg" property="og:image">
  <meta content="480" property="og:image:width">
  <meta content="360" property="og:image:height">
{% else %}
  <meta content="/img/profile-pic.png" property="og:image">
{% endif %}
{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}
<link rel="stylesheet" href="{{ site.url }}/css/main.css">
<link rel="stylesheet" id="switch-style" href="{{ site.url }}/css/grid.css">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
