<div class='share-button-container'>
    <p>Like it? Share it!</p>

    <div class="socialbutton-wrapper">
	<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
            <div class="socialbutton twitter" data-share-url="http://www.nethoax.net">
                <p class="icon">
                    <img src="/img/icon-twitter.png">
                </p>
            </div>
        </a>

	<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
            <div class="socialbutton facebook" data-share-url="http://www.nethoax.net">
                <p class="icon">
                    <img src="/img/icon-facebook.png">
                </p>
            </div>
        </a>

	<a href="http://www.reddit.com/submit?url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" >
            <div class="socialbutton reddit">
                <p class="icon">
                    <img src="/img/icon-reddit.png">
                </p>
            </div>
        </a>
    </div>
</div>
