// FONT-FACE STUFF HERE
//-----------------------

// Roboto
//--------

// light
@font-face {
    font-family: 'Roboto';
    $path-part: 'Light';
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
         url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

// regular
@font-face {
    font-family: 'Roboto';
    $path-part: 'Medium';
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
         url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

// bold
@font-face {
    font-family: 'Roboto';
    $path-part: 'Black';
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
         url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoBold') format('svg');
    font-weight: 900;
    font-style: normal;
}

// light italic
@font-face {
    font-family: 'Roboto';
    $path-part: 'LightItalic';
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
         url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

// regular italic
@font-face {
    font-family: 'Roboto';
    $path-part: 'MediumItalic';
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
         url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

// bold italic
@font-face {
    font-family: 'Roboto';
    $path-part: 'BlackItalic';
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot');
    src: url('../fonts/Roboto-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-#{$path-part}-webfont.woff') format('woff'),
         url('../fonts/Roboto-#{$path-part}-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-#{$path-part}-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

// Source Code Pro
//-----------------
@font-face {
    font-family: 'Source Code Pro';
    $path-part: 'regular';
    src: url('../fonts/sourcecodepro-#{$path-part}-webfont.eot');
    src: url('../fonts/sourcecodepro-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-#{$path-part}-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-#{$path-part}-webfont.ttf') format('truetype'),
         url('../fonts/sourcecodepro-#{$path-part}-webfont.svg#sourcecodeproregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    $path-part: 'bold';
    src: url('../fonts/sourcecodepro-#{$path-part}-webfont.eot');
    src: url('../fonts/sourcecodepro-#{$path-part}-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-#{$path-part}-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-#{$path-part}-webfont.ttf') format('truetype'),
         url('../fonts/sourcecodepro-#{$path-part}-webfont.svg#sourcecodeprobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

// Raleway
//-----------------
@font-face {
    font-family: 'Raleway';
    $path-part: 'regular';
    src: url('../fonts/raleway-v11-latin-#{$path-part}.eot');
    src: url('../fonts/raleway-v11-latin-#{$path-part}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-v11-latin-#{$path-part}.woff') format('woff'),
         url('../fonts/raleway-v11-latin-#{$path-part}.ttf') format('truetype'),
         url('../fonts/raleway-v11-latin-#{$path-part}.svg#Raleway') format('svg');
    font-weight: 400;
    font-style: normal;
}

// Fredoka One
//-----------------
@font-face {
    font-family: 'Fredoka One';
    $path-part: 'regular';
    src: url('../fonts/fredoka-one-v4-latin-#{$path-part}.eot');
    src: url('../fonts/fredoka-one-v4-latin-#{$path-part}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fredoka-one-v4-latin-#{$path-part}.woff') format('woff'),
         url('../fonts/fredoka-one-v4-latin-#{$path-part}.ttf') format('truetype'),
         url('../fonts/fredoka-one-v4-latin-#{$path-part}.svg#fredokaone') format('svg');
    font-weight: 400;
    font-style: normal;
}
/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/raleway-v11-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Raleway Black'), local('Raleway-Black'),
       url('../fonts/raleway-v11-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v11-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v11-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v11-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v11-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}
